<!DOCTYPE html>
<html lang="en"?>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>About Page</title>
        <style>

            img {
                width: 100%;
            }

            p {
                text-align: center;
            }

        </style>
    </head>


    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Portfolio</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('poem')}}">Poems</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                </ul>
                </div>
            </div>
        </nav>
        <img src = "../static/images/placement-photo.jpg" alt = "about Me photo" width= "128" height = "128">

        <p> Instagram is a notoriously difficult platform on which to write a good bio. Similar to Twitter,<br>
            <br>you simply don't have room for a professional bio that includes everything about you. And because<br>
            <br>Instagram is primarily a mobile app, many viewers are reading about you passively on their mobile device.<br>
            <br>Instagram's limited bio space requires you to highlight just your most important qualities,<br>
            <br>and blogging icon Rebecca Bollwitt does so in her own Instagram bio in an excellent way.<br>
            <br>Rebecca's brand name is Miss604, and cleverly uses emojis in her Instagram<br>
            <br>bio to tell visitors exactly what makes her a valuable content creator.<br>
        </p>
    
    </body>

</html>