{% extends 'index.html' %}

{% block content %}
        <img src = "../static/images/placement-photo.jpg" alt = "about Me photo" width= "128" height = "128">

        <p> Instagram is a notoriously difficult platform on which to write a good bio. Similar to Twitter,<br>
            <br>you simply don't have room for a professional bio that includes everything about you. And because<br>
            <br>Instagram is primarily a mobile app, many viewers are reading about you passively on their mobile device.<br>
            <br>Instagram's limited bio space requires you to highlight just your most important qualities,<br>
            <br>and blogging icon Rebecca Bollwitt does so in her own Instagram bio in an excellent way.<br>
            <br>Rebecca's brand name is Miss604, and cleverly uses emojis in her Instagram<br>
            <br>bio to tell visitors exactly what makes her a valuable content creator.<br>
        </p>
    
{% endblock %}